{% extends 'base.html.twig' %}
{% block body %}
	<style>
		form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		input[type='submit'] {
			width: 100px;
		}
	</style>
	<main>
		{% if error %}
			<p>{{ error.messageKey | trans(error.messageData,'security') }}</p>
		{% endif %}
		<h1>Page de connexion</h1>
		<form action="{{path('login')}}" method="POST">
			<label for="username">Email</label><input type="email" id="email" name="_username" value='{{username}}'>
			<label for="password">Mot de passe</label><input type="password" id="password" name="_password">
			<input type="submit">
			<a href="{{path("inscription")}}">Vous n'avez pas un compte ?</a>
			<a href="{{path("user_resetPassword")}}">Vous avez oublié votre mot de passe ?</a>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<label>
				<input type="checkbox" name="_remember_me">
				Se souvenir de moi
			</label>
		</form>
	</main>
{% endblock %}
