{% extends "base.html.twig" %}
{% block body %}

	<style>
		.content {
			display: flex;
			flex-direction: column;
			min-width: 90%;
		}

		.votes {
			min-width: 10%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.articleQuestion {
			display: flex;
			padding: 40px;
			background: white;
			background: #FEFBF6;
			box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
			margin-bottom: 2rem;
		}

		.articleQuestion:active {
			box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
		}

		.mainArticleDivResponse {
			display: flex;
			justify-content: flex-end;
		}

		.mainArticleDivResponse p {
			margin-right: 1rem;
		}

		#question {
			margin: 2rem 0;
			padding: 0 0 50px;
			border-bottom: 1px solid #d9d9d9;
			cursor: pointer;
			font-size: 18px
		}

		.divAuthor {
			display: flex;
		}


		.nbreOfResponse {
			margin-left: 10px;
			align-content: center;
		}

		.author {
			color: rgb(37, 150, 190);
		}

		.negatif {
			color: red;
		}

		.positif {
			color: #40A2E3;
		}
	</style>
	<main>
		<h1 class="titleHomePage">Liste des questions</h1>
		<pre>
			{{ dump(questions) }}
		</pre>
		{% if questions %}
			<ul>
				{% for question in questions %}
					<li>
						<article class="articleQuestion">
							<div class="votes">
								<i class="fa-solid fa-arrow-up {{ question.rating > 0 ? " positif": " "}}" alt="icône représentant les votes positifs"></i>
								<p class={{ (question.rating > 0 ) ? "positif" : (question.rating != 0) ? "negatif" : ""}}>{{ question.rating }}</p>
								<i class="fa-solid fa-arrow-down {{ question.rating < 0 ? " negatif" : " "}}" alt="icône représentant les votes négatifs" class="{{ question.rating > 0 ? "positif":"negatif"}}"></i>
							</div>
							<div class="content">
								<div class="Maincontent">
									<h2>{{ question.title}}</h2>
									<a href="{{ path('question_detail', {'id': question.id}) }}">
										<p id="question">{{ question.content}}</p>
									</a>
									<div class="divAuthor">
										<img class="imageProfileAuthor" src='https://randomuser.me/api/portraits/women/85.jpg' alt="image de profil">
										<p style="align-content: center">Demandé par
											<a href="#" class="author">Auteur</a>
										</p>
									</div>
								</div>

								<div class="mainArticleDivResponse">
									<img src="{{ asset('icons/responses.svg')}}" alt="logo reponses">
									<p class="nbreOfResponse">{{ question.getComments | length }}</p>
								</div>
							</div>
						</article>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</main>
{% endblock %}
