{% extends "base.html.twig" %}
{% block body %}
	<main>
		<h1 class="titleHomePage">Liste des questions</h1>
		<pre>
			{{ dump(questions) }}
		</pre>
		{% if questions %}
			<ul>
				{% for question in questions %}
					{% set imageOfProfile = question.user.imageProfile ?? 'images/default-profile.svg' %}

					<li>
						<article class="articleQuestion">
							{% include "partials/_votes.html.twig" with {rating: question.rating, from:'question',id:question.id } %}
							<div class="content">
								<div class="Maincontent">
									<h2>{{ question.title}}</h2>
									<a href="{{ path('question_detail', {'id': question.id}) }}">
										<p id="question">{{ question.content}}</p>
									</a>
									<div class="divAuthor">
										<img class="imageProfileAuthor" src='{{asset(imageOfProfile)}}' alt="image de profil">
										<p style="align-content: center">Demandé par
											<a href="{{ path('userQuestions', {'id': question.user.id}) }}" class="author">{{question.user.lastname}}
												{{question.user.firstname}}</a>
										</p>
									</div>
								</div>

								<div class="mainArticleDivResponse">
									<img src="{{ asset('icons/responses.svg')}}" alt="logo reponses">
									<p class="nbreOfResponse">{{ question.getComments | length }}</p>
								</div>
							</div>
						</article>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucune question posée pour le moment</p>
		{% endif %}
	</main>
{% endblock %}
