{% extends 'base.html.twig' %}
{% block title %}
	{{question.title}}
{% endblock %}
{% block body %}
	<main>
		<section>
			<article class="questionDetail">

				<div class="divTitreQuestion">
					<div style="display:flex">
						{% include 'partials/_votes.html.twig' with {rating: question.rating, from:'question', id: question.id} %}

						<h1 class="titleQuestionDetail">{{ question.title}}
							<span class="spanQuestion">Question</span>
						</h1>
					</div>
					<img class="imageProfileAuthor" src="https://randomuser.me/api/portraits/women/85.jpg" alt="photographie de l'auteur de la question">
				</div>
				<p class="paragrapheQuestionDetail">{{question.content }}
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, incidunt saepe nobis repellat similique explicabo eaque qui quis voluptates! 
																																																																																																																																																																																																																																																																																																																																																																																										Voluptas sint debitis dicta voluptatum unde optio officia doloribus. Provident, consequuntur?
				</p>
				{{form(commentForm)}}
				</article>
			</section>
			<section>
				{% for comment in question.comments %}
					<article class="articleCommentaire">
						{% include "partials/_votes.html.twig" with {rating: comment.rating, from:'comment',id:comment.id } %}
						<div class="divCommentPlusImagePlusCreatedAtPlusContent">
							<div class="divArticleComment">
								<div class="nomPlusImage">

									<a href="#" title="page de profil de l'auteur de la réponsee">
										<h3>Nom et prenom</h2>
									</a>
									<img class="imageProfileAuthor" src="https://randomuser.me/api/portraits/women/85.jpg" alt="image photographie représentant un utilisateur">
								</div>
								<p>{{ comment.createdAt | time_diff(locale='fr')}}</p>
							</div>

							<p>{{comment.content}}</p>
						</div>

					</article>
				{% endfor %}
			</section>

		</main>
	{% endblock %}
