{% extends 'base.html.twig' %}
{% block title %}
	{{question.title}}
{% endblock %}
{% block body %}
	<main>

		{% for comment in question.comments %}
			{{comment.user.firstname}}
		{% endfor %}
		{% set imageOfProfileQuestionUser = question.user.imageProfile ?? 'images/default-profile.svg' %}

		<section>
			<article class="questionDetail">

				<div class="divTitreQuestion">
					<div style="display:flex">
						{% include 'partials/_votes.html.twig' with {rating: question.rating, from:'question', id: question.id} %}

						<h1 class="titleQuestionDetail">{{ question.title}}
							<span class="spanQuestion">Question</span>
						</h1>
					</div>
					<img class="imageProfileAuthor" src='{{asset(imageOfProfileQuestionUser)}}' alt="photographie de l'auteur de la question">
				</div>
				<p class="paragrapheQuestionDetail">{{question.content }}
				</p>
				{{form(commentForm)}}
				</article>
			</section>
			<section>
				{% for comment in question.comments %}
					{% set imageOfProfileCommentUser = comment.user.imageProfile ?? 'images/default-profile.svg' %}
					<article class="articleCommentaire">
						{% include "partials/_votes.html.twig" with {rating: comment.rating, from:'comment',id:comment.id } %}
						<div class="divCommentPlusImagePlusCreatedAtPlusContent">
							<div class="divArticleComment">
								<div class="nomPlusImage">

									<a href="{{ path('user_profile', {id: comment.user.id}) }}" title="page de profil de l'auteur de la réponsee">
										<h3>{{comment.user.lastname}}
											{{comment.user.firstname}}
										</h3>
									</a>
									<img class="imageProfileAuthor" src='{{asset(imageOfProfileCommentUser)}}' alt="image photographie représentant un utilisateur">
								</div>
								<p>{{ comment.createdAt | ago(locale='fr')}}</p>
							</div>

							<p>{{comment.content}}</p>
						</div>

					</article>
				{% endfor %}
			</section>

		</main>
	{% endblock %}
