{% extends 'base.html.twig' %}

{% block title %}Poser une question
{% endblock %}

{% block body %}
	<main>
		<h1>Edition d'une question</h1>
		{{form_start(askForm, {'attr':{'class':'formAskQuestion'}})}}
		<div class="groupeInput">
			{{ form_label(askForm.title)}}
			{{ form_widget(askForm.title)}}
			{{form_errors(askForm.title)}}
		</div>
		<div class="groupeInput">
			{{ form_label(askForm.content)}}
			{{ form_widget(askForm.content)}}
			{{form_errors(askForm.content)}}
		</div>
		<div class="formAskQuestionDivSubmit">
			<input type="submit" value="Publier une question">
			{{form_rest(askForm)}}
			{# Afficher le reste du formulaire c-à-d l'input caché contenant le token CSRF#}
		</div>
		{{form_end(askForm, { render_rest: true})}}
	</main>
{% endblock %}
