{% extends 'base.html.twig' %}

{% block title %}Poser une question
{% endblock %}

{% block body %}
	<main>
		<h1>Edition d'une question</h1>
		{{form_start(askForm, {'attr':{'class':'formAskQuestion'}})}}
		<div class="groupeInput">
			{{ form_label(askForm.title)}}
			{{ form_widget(askForm.title)}}
			{{form_errors(askForm.title)}}
		</div>
		<div class="groupeInput">
			{{ form_label(askForm.content)}}
			{{ form_widget(askForm.content)}}
			{{form_errors(askForm.content)}}
		</div>
		<input type="submit" value="Publier une question">
		{{form_end(askForm, { render_rest: true})}}
	</main>
{% endblock %}
