<header>
	<a href="{{path("home")}}"><img src="{{ asset("icons/logo.png")}}" alt="logo" id="logo"></a>
	<form action="" class="formSearch">
		<input type="search" name="q">
		<input type="submit" id="searchButton" value="">
	</form>
	<div class="divMenu">
		{% if  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{% set imageOfProfile = app.user.imageProfile ?? 'inconnu' %}
			<a href="{{ path('user_currentprofile') }}"><img src="{{ asset(imageOfProfile)}}" alt="photographie représentant l'utilisateur connecté" class="imageProfileAuthor"></a>
			<a href="{{path('logout')}}">
				<button>Déconnexion</button>
			</a>
		{% else %}
			<a href="{{path("inscription")}}" id="linkSubscription">
				<button id="headerButtonInscription">Inscription</button>
			</a>
			<a href="{{path("login")}}">
				<button id="headerButtonConnexion">Connexion</button>

			</a>
		{% endif %}


	</div>
</header>
