{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<style>
		section {
			background: #f2f2f2;
			padding: 1rem;
			margin-bottom: 3rem;
		}

		h3 {
			margin-bottom: 0.5rem;
			margin-top: 1rem;
			font-weight: normal;
		}
		form button {
			position: relative;
			top: 49px;
			background: #fdd661;
			color: white;
		}

		.divButtonDelete button {
			position: relative;
			left: 900px;
			background: #ee642e;
			color: white;
		}

		.divButtonDelete a {
			cursor: pointer;
		}
	</style>
	<main>
		<section>
			<h1>La page de profil de l'utilisateur connecté
				{{app.user.firstname}}</h1>
			{{form(form)}}

				<div class="divButtonDelete">
					<a href="{{path('user_deleting',{id:app.user.id})}}" title="supprimer mon compte">
						<button>Supprimer mon compte</button>
					</a>
				</div>
			</section>

			<section>
				<h2>Mes questions</h2>
				<article>
					{% for question in app.user.questions %}
						<a href="{{path('question_detail',{ id: question.id})}}" title="">
							<h3>{{ question.title }}</h3>
						</a>
					{% endfor %}
				</article>
			</section>

			<section>
				<h2>Mes reponses</h2>
				<article>
					{% for comment in app.user.comments %}
						<a href="{{path('question_detail',{ id: comment.question.id})}}" title="">
							<h3>{{ comment.content }}</h3>
						</a>
					{% endfor %}
				</article>
			</section>
		</main>
	{% endblock %}
